uwsgi
Flask-SQLAlchemy==2.4.0
psycopg2==2.7.1
twilio==6.16.4
Flask==2.2.5
urllib3>=1.24.1
requests==2.21.0
APScheduler==3.6.0
praw==6.2.0
prawcore==1.0.1
update-checker==0.16
websocket-client==0.56.0
pyimgur==0.6.0
numpy==1.16.2
pandas==0.24.2
matplotlib==3.0.2
seaborn==0.9.0
newsapi-python==0.2.5


#opencv-python-headless==4.1.0.25
#tensorflow==1.13.1
#Keras==2.2.4
#pycricbuzz==2.4
#pyTelegramBotAPI==3.6.6
